header.App-header {
    
    text-align: center;
    background: #e1e1e1;
}
.App-header img{
  max-height: 200px;
}

.container{
  max-width: 90%;
  width: 1280px;
}

.calcNumbers button{
  width: 120px;
}

.calcNumbers {
    display: flex;
    width: 415px;
    flex-flow: wrap;
    justify-content: space-around;
    float: left;
}

.calcContainer {
    margin: auto;
    width: 80%;
}

.caclFunctions {
    width: 100px;
    float: right;
    box-shadow: 3px 4px 6px;
}

element.style {
}
.caclFunctions button {
    display: block;
    float: right;
    width: 100%;
    font-size: 20px;
}