header.App-header {
    
    text-align: center;
    background: #e1e1e1;
}
.App-header img{
  max-height: 200px;
}

.container{
  max-width: 90%;
  width: 1280px;
}

.calcNumbers button{
  width: 120px;
}

.calcNumbers {
    display: flex;
    width: 415px;
    flex-flow: wrap;
    justify-content: space-around;
}